    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>          
          {% block nav-left %}{% endblock %} 
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <div class="nav navbar-nav navbar-right btn-group">
          {% block nav-right %}{% endblock %} 
          </div>   
        </div>         
      </div>
    </nav>