{% extends "base.html" %}

{% load set_var %}

{% block nav-left %}
         <ol class="breadcrumb">
            <li>
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ config.project }}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                {% for project in projects %}
                {% if project.abbr != config.project.abbr %}   
                  <li>
                {% else %}
                  <li class="dropdown-header">
                {% endif %}     
                    <a href="{% url "views.viewConfigItem" project.abbr config.info.abbr %}">{{ project.name }}</a>
                  </li>
                {% endfor %}
                </ul>           
              </div>
            </li>
            <li class="active"><span class="">{{ config.info }}</span></li>
          </ol> 
{% endblock %} 
{% block nav-right %}
            <button class="btn btn-default navbar-btn" onclick="{location.href='{% url "views.doConfigItem" config.project.abbr config.info.abbr %}'}">编辑</button> 
            <button class="btn btn-default navbar-btn" onclick="{location.href='{% url "views.exportConfigItem" config.project.abbr config.info.abbr %}'}">导出</button> 
{% endblock %} 
{% block main-body %}
   <div class="panel panel-default">

      <table class="table table-bordered">
        {% set group = 0 %}         
        {% for item in query %}
        {% if group != item.item.group %}
        {% set group = item.item.group %} 
        <tr class="success"><td></td><td></td></tr>
        {% endif %}
        <tr>
          <td class="info col-sm-3">
            {% if item.item.description %}
            <abbr title="{{ item.item.description }}">
            {% endif %}
            {% if item.item.empty %}
            {{ item.item.name }}：
            {% elif item.item.type == 'fil' and item.file %}
            {{ item.item.name }}：
            {% elif item.item.type != 'fil' and item.value and item.value.strip %}
            {{ item.item.name }}：
            {% else %}
            <span class="text-danger">
              {{ item.item.name }}：
            </span>
            {% endif %}
            {% if  item.item.description %}
            </abbr>
            {% endif %}
          </td>
          <td class="col-sm-9">
            {% if item.item.type == 'fil' %} 
            {% if item.file %}
            <a href="{{ item.file.url }}" type="application/force-download">{{ item.file }}</a>
            {% endif %}
            {% else %}
            {{ item.value }}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>  
    </div>
  </div>
{% endblock %} 
