{% extends "base.html" %}

{% load set_var %}

{% block extra-header %}
    <script>
    function fun_sucs(data) {
      if (data['success']) {
        window.alert('成功');
      }
      else {
        window.alert(JSON.stringify(data));
      }
      window.location.reload();
    }
    </script>    
{% endblock %} 
{% block nav-left %}
          <ol class="breadcrumb">
            <li>
              <button class="btn btn-primary disabled" type="button">
                  {{ config.project }}
              </button>                
            </li>
            <li class="active"><span class="">{{ config.info }}</span></li>
          </ol>  
{% endblock %} 
{% block nav-right %}
            <button class="btn btn-default navbar-btn" onclick="{location.href='{% url "views.viewConfigItem" config.project.abbr config.info.abbr %}'}">查看</button>   
            <button class="btn btn-default navbar-btn" type="submit" form="abc">保存</button>        
{% endblock %} 
{% block main-body %}
    <form id="abc" action="" enctype="multipart/form-data" method="post" data-success="fun_sucs"  class="form-horizontal">
      {% csrf_token %}
        {{ formset.management_form }}
      
      {% set group = 0 %}         
        {% for form in formset %}
          {% if group != form.instance.item.group %}
          {% set group = form.instance.item.group %}  
            <br /><br />
          {% endif %}
            <div class="form-group" title="{{ form.instance.item.description }}">
                <label for="{{ form.value.auto_id }}" class="col-sm-3 control-label">
                  {% if form.instance.item.empty %}
                    {{ form.instance.item.name }}：
                  {% elif form.instance.item.type == 'fil' and form.instance.file %}
                    {{ form.instance.item.name }}：
                  {% elif form.instance.item.type != 'fil' and form.instance.value and form.instance.value.strip %}
                    {{ form.instance.item.name }}：
                  {% else %}
                    <font color="red">
                      {{ form.instance.item.name }}：
                    </font>
                  {% endif %}
                </label>
                <div class="col-sm-9">
                {{ form.id }}
                {% if form.instance.item.type == 'fil' %} 
                  {{ form.file }}
                {% else %}
                  {{ form.value }}
                {% endif %}
                </div>
            </div>
        {% endfor %}
    </form>
  <script type="text/javascript" src="/static/js/submit.js"></script>
  <script>
 
  </script>
{% endblock %} 

